/*!
 *  build: Vue  Admin Plus
 *  copyright: vue-admin-beautiful.com
 *  time: 2022-12-13 19:05:01
 */:export{menu-color:hsla(0,0%,100%,.95);menu-color-active:hsla(0,0%,100%,.95);menu-background:#282c34;column-second-menu-background:#fff;vab-border-radius:2.5px}.app-container .avatar-uploader .el-upload{position:relative}[data-v-0803c628]:export{menu-color:hsla(0,0%,100%,.95);menu-color-active:hsla(0,0%,100%,.95);menu-background:#282c34;column-second-menu-background:#fff;vab-border-radius:2.5px}.app-container .sky-tree-border[data-v-0803c628]{width:100%;height:250px;padding:20px;overflow-y:auto;border:1px solid #dcdfe6;border-radius:2.5px}.app-container .avatar-uploader .avatar[data-v-0803c628]{width:148px;height:148px;display:block}.app-container .avatar-uploader .el-upload .avatar-edit[data-v-0803c628]{position:absolute;right:1px;top:1px}.app-container .avatar-uploader .el-upload[data-v-0803c628]{border:1px dashed var(--el-border-color);border-radius:6px;cursor:pointer;position:relative;overflow:hidden;transition:var(--el-transition-duration-fast)}.app-container .avatar-uploader .el-upload[data-v-0803c628]:hover{border-color:var(--el-color-primary)}.app-container .el-icon.avatar-uploader-icon[data-v-0803c628]{font-size:28px;color:#8c939d;width:178px;height:178px;text-align:center}