/*!
 *  build: Vue  Admin Plus
 *  copyright: vue-admin-beautiful.com
 *  time: 2022-12-13 19:05:01
 */[data-v-e223234c]:export{menu-color:hsla(0,0%,100%,.95);menu-color-active:hsla(0,0%,100%,.95);menu-background:#282c34;column-second-menu-background:#fff;vab-border-radius:2.5px}.sky-tree-border[data-v-e223234c]{width:100%;height:250px;padding:20px;overflow-y:auto;border:1px solid #dcdfe6;border-radius:2.5px}.transfer-form[data-v-e223234c]{padding:12px 20px}.custom-step[data-v-e223234c]{display:flex;justify-content:center;margin:20px 45px}.type_note[data-v-e223234c]{color:#666;margin-left:12px;font-size:12px}