/*!
 *  build: Vue  Admin Plus
 *  copyright: vue-admin-beautiful.com
 *  time: 2022-12-13 19:05:01
 */[data-v-6822d7fe]:export{menu-color:hsla(0,0%,100%,.95);menu-color-active:hsla(0,0%,100%,.95);menu-background:#282c34;column-second-menu-background:#fff;vab-border-radius:2.5px}.sky-tree-border[data-v-6822d7fe]{width:100%;padding:20px;overflow-y:auto;border:1px solid #dcdfe6;border-radius:2.5px}[data-v-6822d7fe] * .el-tree-node__children .el-tree-node__children{display:flex;flex-wrap:wrap}[data-v-6822d7fe] * .el-tree-node__children .el-tree-node__children .el-tree-node{width:30%}