/*!
 *  build: Vue  Admin Plus
 *  copyright: vue-admin-beautiful.com
 *  time: 2022-12-13 19:05:01
 */[data-v-be87205a]:export{menu-color:hsla(0,0%,100%,.95);menu-color-active:hsla(0,0%,100%,.95);menu-background:#282c34;column-second-menu-background:#fff;vab-border-radius:2.5px}.upload[data-v-be87205a]{height:500px}.upload .upload-content .el-upload__tip[data-v-be87205a]{display:block;height:30px;line-height:30px}.upload .upload-content[data-v-be87205a] .el-upload--picture-card{width:128px;height:128px;margin:3px 8px 8px 8px;border:2px dashed #c0ccda}.upload .upload-content[data-v-be87205a] .el-upload--picture-card .ri-add-line{font-size:24px}.upload .upload-content[data-v-be87205a] .el-upload-list--picture{margin-bottom:20px}.upload .upload-content[data-v-be87205a] .el-upload-list--picture-card .el-upload-list__item{width:128px;height:128px;margin:3px 8px 8px 8px}