/*!
 *  build: Vue  Admin Plus
 *  copyright: vue-admin-beautiful.com
 *  time: 2022-12-13 19:05:01
 */:export{menu-color:hsla(0,0%,100%,.95);menu-color-active:hsla(0,0%,100%,.95);menu-background:#282c34;column-second-menu-background:#fff;vab-border-radius:2.5px}.balance-update{font-size:12px;color:grey}.el-descriptions__label.el-descriptions__cell.is-bordered-label{color:#606266}.drawer-en .custom-item-label{width:24%;font-size:12px!important}.drawer-en .custom-item-value{width:26%}.drawer-other .custom-item-label{width:21%}.drawer-other .custom-item-value{width:29%}