/*!
 *  build: Vue  Admin Plus
 *  copyright: vue-admin-beautiful.com
 *  time: 2022-12-13 19:05:01
 */[data-v-50bfcb24]:export{menu-color:hsla(0,0%,100%,.95);menu-color-active:hsla(0,0%,100%,.95);menu-background:#282c34;column-second-menu-background:#fff;vab-border-radius:2.5px}.vab-update[data-v-50bfcb24]{position:relative}.vab-update-icon[data-v-50bfcb24]{position:absolute;top:-50px;left:50%;width:100px;height:100px;line-height:100px;text-align:center;background:linear-gradient(50deg,var(--el-color-primary),var(--el-color-primary-light-7));border-radius:50%;transform:translateX(-50%)}.vab-update-icon i[data-v-50bfcb24]{font-size:50px;color:#fff}.vab-update-cup[data-v-50bfcb24]{position:absolute;right:20px;bottom:70px;font-size:80px;-webkit-text-fill-color:transparent;background-image:linear-gradient(var(--el-color-primary-light-7),var(--el-color-primary-light-9));-webkit-background-clip:text;background-clip:text}:export{menu-color:hsla(0,0%,100%,.95);menu-color-active:hsla(0,0%,100%,.95);menu-background:#282c34;column-second-menu-background:#fff;vab-border-radius:2.5px}.vab-update.el-dialog{margin-top:30vh!important;border-radius:15px}.vab-update.el-dialog .el-dialog__body{margin:0 40px 0 40px}.vab-update.el-dialog .el-dialog__footer{text-align:center!important}.vab-update.el-dialog .el-dialog__footer .el-button{width:200px;margin-bottom:20px;background:linear-gradient(50deg,var(--el-color-primary-light-3),var(--el-color-primary));border:0;border-radius:20px}