/*!
 *  build: Vue  Admin Plus
 *  copyright: vue-admin-beautiful.com
 *  time: 2022-12-13 19:05:01
 */[data-v-139bdf98]:export{menu-color:hsla(0,0%,100%,.95);menu-color-active:hsla(0,0%,100%,.95);menu-background:#282c34;column-second-menu-background:#fff;vab-border-radius:2.5px}.vab-dialog__headerbtn[data-v-139bdf98]{position:absolute;top:var(--el-dialog-padding-primary);right:var(--el-dialog-padding-primary)}.vab-dialog button[data-v-139bdf98]{padding:0;margin-left:15px;font-size:var(--el-message-close-size,16px);color:var(--el-color-info);cursor:pointer;background:transparent;border:none;outline:none;transition:all .3s cubic-bezier(.645,.045,.355,1),border 0s,color .1s,font-size 0s}.vab-dialog button:hover i[data-v-139bdf98]{color:var(--el-color-primary)}.vab-dialog[data-v-139bdf98] .el-dialog.is-fullscreen{top:0!important;left:0!important;display:flex;flex-direction:column}.vab-dialog[data-v-139bdf98] .el-dialog.is-fullscreen .el-dialog__body{flex:1;overflow:auto}.vab-dialog[data-v-139bdf98] .el-dialog.is-fullscreen .el-dialog__footer{padding-bottom:10px;border-top:1px solid var(--el-border-color-base)}