/*!
 *  build: Vue  Admin Plus
 *  copyright: vue-admin-beautiful.com
 *  time: 2022-12-13 19:05:01
 */[data-v-adac5c72]:export{menu-color:hsla(0,0%,100%,.95);menu-color-active:hsla(0,0%,100%,.95);menu-background:#282c34;column-second-menu-background:#fff;vab-border-radius:2.5px}.vab-card-transition[data-v-adac5c72]{transition:all .3s cubic-bezier(.645,.045,.355,1),border 0s,color .1s,font-size 0s}.echarts{width:600px;height:400px}[data-v-03ba8ba2]:export{menu-color:hsla(0,0%,100%,.95);menu-color-active:hsla(0,0%,100%,.95);menu-background:#282c34;column-second-menu-background:#fff;vab-border-radius:2.5px}.order[data-v-03ba8ba2]{margin-bottom:20px}.order-card1-content[data-v-03ba8ba2]{text-align:center}.order-card1[data-v-03ba8ba2] .el-card__body,.order-card1[data-v-03ba8ba2] .el-card__header{color:var(--el-color-white)!important;background:linear-gradient(90deg,#60b2fb,#6485f6)}.order-card2[data-v-03ba8ba2]{height:490px;margin-top:20px}.order-card2-content[data-v-03ba8ba2]{text-align:center}.order-card2-content .order-chart[data-v-03ba8ba2]{width:100%;height:296px}