/*!
 *  build: Vue  Admin Plus
 *  copyright: vue-admin-beautiful.com
 *  time: 2022-12-13 19:05:01
 */[data-v-adac5c72]:export{menu-color:hsla(0,0%,100%,.95);menu-color-active:hsla(0,0%,100%,.95);menu-background:#282c34;column-second-menu-background:#fff;vab-border-radius:2.5px}.vab-card-transition[data-v-adac5c72]{transition:all .3s cubic-bezier(.645,.045,.355,1),border 0s,color .1s,font-size 0s}[data-v-3cd30034]:export{menu-color:hsla(0,0%,100%,.95);menu-color-active:hsla(0,0%,100%,.95);menu-background:#282c34;column-second-menu-background:#fff;vab-border-radius:2.5px}.icon-panel[data-v-3cd30034]{margin-bottom:20px;text-align:center;cursor:pointer}.icon-panel .el-card__body[data-v-3cd30034]{height:120px}.icon-panel .el-card__body:hover i[data-v-3cd30034]{transform:scale(1.05)}.icon-panel .el-card__body div[data-v-3cd30034]{width:60px;height:60px;margin:auto;line-height:60px;border-radius:12px}.icon-panel .el-card__body div i[data-v-3cd30034]{display:block;width:50px;height:50px;margin:auto;font-size:30px;color:#fff;transition:all .3s ease-in-out}