/*!
 *  build: Vue  Admin Plus
 *  copyright: vue-admin-beautiful.com
 *  time: 2022-12-13 19:05:01
 */[data-v-adac5c72]:export{menu-color:hsla(0,0%,100%,.95);menu-color-active:hsla(0,0%,100%,.95);menu-background:#282c34;column-second-menu-background:#fff;vab-border-radius:2.5px}.vab-card-transition[data-v-adac5c72]{transition:all .3s cubic-bezier(.645,.045,.355,1),border 0s,color .1s,font-size 0s}[data-v-18dc2024]:export{menu-color:hsla(0,0%,100%,.95);menu-color-active:hsla(0,0%,100%,.95);menu-background:#282c34;column-second-menu-background:#fff;vab-border-radius:2.5px}.vab-colorful-card[data-v-18dc2024]{position:relative;min-height:120px;cursor:pointer}.vab-colorful-card [data-v-18dc2024]{color:var(--el-color-white)}.vab-colorful-card[data-v-18dc2024] .el-card__header{color:var(--el-color-white);border-bottom:0}.vab-colorful-card[data-v-18dc2024] .el-card__body{padding-top:0}.vab-colorful-card i[data-v-18dc2024]{position:absolute;top:-30px;right:20px;font-size:60px;transform:rotate(15deg)}[data-v-192a8160]:export{menu-color:hsla(0,0%,100%,.95);menu-color-active:hsla(0,0%,100%,.95);menu-background:#282c34;column-second-menu-background:#fff;vab-border-radius:2.5px}[data-v-192a8160] .el-card__body{padding-bottom:0!important}.project-card-description[data-v-192a8160]{width:calc(100% - 100px);margin-right:45px;font-size:12px;font-weight:400;line-height:20px;color:#fff}