/*!
 *  build: Vue  Admin Plus
 *  copyright: vue-admin-beautiful.com
 *  time: 2022-12-13 19:05:01
 */[data-v-adac5c72]:export{menu-color:hsla(0,0%,100%,.95);menu-color-active:hsla(0,0%,100%,.95);menu-background:#282c34;column-second-menu-background:#fff;vab-border-radius:2.5px}.vab-card-transition[data-v-adac5c72]{transition:all .3s cubic-bezier(.645,.045,.355,1),border 0s,color .1s,font-size 0s}[data-v-45abc0a7]:export{menu-color:hsla(0,0%,100%,.95);menu-color-active:hsla(0,0%,100%,.95);menu-background:#282c34;column-second-menu-background:#fff;vab-border-radius:2.5px}[data-v-45abc0a7] * .el-card__header{padding:9px 10px!important}[data-v-45abc0a7] * .el-card__header .card-header-tag{top:7px!important}.app-container[data-v-45abc0a7]{padding:0!important;background:#f6f8f9!important}.app-container .w-420[data-v-45abc0a7]{width:360px;margin-right:10px}.app-container .w-300[data-v-45abc0a7]{width:400px;margin-right:10px}