/*!
 *  build: Vue  Admin Plus
 *  copyright: vue-admin-beautiful.com
 *  time: 2022-12-13 19:05:01
 */[data-v-31da6e6f]:export{menu-color:hsla(0,0%,100%,.95);menu-color-active:hsla(0,0%,100%,.95);menu-background:#282c34;column-second-menu-background:#fff;vab-border-radius:2.5px}.vab-avatar-list[data-v-31da6e6f] .el-avatar{display:inline-block;margin-left:-15px;cursor:pointer;border:3px solid var(--el-color-white)}