/*!
 *  build: Vue  Admin Plus
 *  copyright: vue-admin-beautiful.com
 *  time: 2022-12-13 19:05:01
 */[data-v-adac5c72]:export{menu-color:hsla(0,0%,100%,.95);menu-color-active:hsla(0,0%,100%,.95);menu-background:#282c34;column-second-menu-background:#fff;vab-border-radius:2.5px}.vab-card-transition[data-v-adac5c72]{transition:all .3s cubic-bezier(.645,.045,.355,1),border 0s,color .1s,font-size 0s}.echarts{width:600px;height:400px}[data-v-0d74ba91]:export{menu-color:hsla(0,0%,100%,.95);menu-color-active:hsla(0,0%,100%,.95);menu-background:#282c34;column-second-menu-background:#fff;vab-border-radius:2.5px}.dashboard-container[data-v-0d74ba91]{padding:0!important;background:#f6f8f9!important}.dashboard-container[data-v-0d74ba91] * .stat-card{height:180px}.dashboard-container[data-v-0d74ba91] * .stat-card .el-card__header{padding:10px 16px}.dashboard-container[data-v-0d74ba91] * .stat-card .el-card__header .card-header{display:flex;justify-content:space-between;align-items:center}.dashboard-container[data-v-0d74ba91] * .stat-card .stat-card-content{display:flex;justify-content:space-between;align-items:center;font-size:22px;padding:10px 5px}.dashboard-container[data-v-0d74ba91] * .stat-card .stat-card-bottom{display:flex;justify-content:flex-end;color:#a5a5a5}.dashboard-container .target-echart2[data-v-0d74ba91]{width:100%;height:305px}