/*!
 *  build: Vue  Admin Plus
 *  copyright: vue-admin-beautiful.com
 *  time: 2022-12-13 19:05:01
 */[data-v-2519e135]:export{menu-color:hsla(0,0%,100%,.95);menu-color-active:hsla(0,0%,100%,.95);menu-background:#282c34;column-second-menu-background:#fff;vab-border-radius:2.5px}.transfer-form[data-v-2519e135]{padding:12px 20px}.custom-step[data-v-2519e135]{display:flex;justify-content:center;margin:20px 45px}.reason-form-item[data-v-2519e135]{display:none}