/*!
 *  build: Vue  Admin Plus
 *  copyright: vue-admin-beautiful.com
 *  time: 2022-12-13 19:05:01
 */[data-v-adac5c72]:export{menu-color:hsla(0,0%,100%,.95);menu-color-active:hsla(0,0%,100%,.95);menu-background:#282c34;column-second-menu-background:#fff;vab-border-radius:2.5px}.vab-card-transition[data-v-adac5c72]{transition:all .3s cubic-bezier(.645,.045,.355,1),border 0s,color .1s,font-size 0s}[data-v-53e6f2a4]:export{menu-color:hsla(0,0%,100%,.95);menu-color-active:hsla(0,0%,100%,.95);menu-background:#282c34;column-second-menu-background:#fff;vab-border-radius:2.5px}[data-v-53e6f2a4] .el-card{height:383px!important}