/*!
 *  build: Vue  Admin Plus
 *  copyright: vue-admin-beautiful.com
 *  time: 2022-12-13 19:05:01
 */[data-v-3fc187d3]:export{menu-color:hsla(0,0%,100%,.95);menu-color-active:hsla(0,0%,100%,.95);menu-background:#282c34;column-second-menu-background:#fff;vab-border-radius:2.5px}@media only screen and (max-width:767px){[data-v-3fc187d3] .vab-cropper-canvas{display:block;float:none;margin:0 auto}[data-v-3fc187d3] .vab-cropper-preview{display:none}}[data-v-3fc187d3] .el-textarea{margin-top:20px}:export{menu-color:hsla(0,0%,100%,.95);menu-color-active:hsla(0,0%,100%,.95);menu-background:#282c34;column-second-menu-background:#fff;vab-border-radius:2.5px}.vab-copper-dialog .el-dialog__footer .el-button{float:right}.vab-copper-dialog .el-dialog__footer:before{display:block;clear:both;content:""}.vab-copper-dialog .el-dialog__footer>.vab-cropper-footer>div{display:inline}.vab-copper-dialog .el-dialog__footer>.vab-cropper-footer>div .el-upload-list__item{display:none}.vab-copper-dialog .el-dialog__footer>.vab-cropper-footer>div .el-upload--picture-card{float:right;width:auto;height:32px;line-height:32px;background-color:transparent;border:0;border-radius:0}.vab-copper-dialog .el-dialog__footer>.vab-cropper-footer>div .el-button{float:right;margin-right:10px}