/*!
 *  build: Vue  Admin Plus
 *  copyright: vue-admin-beautiful.com
 *  time: 2022-12-13 19:05:01
 */[data-v-35f3592d]:export{menu-color:hsla(0,0%,100%,.95);menu-color-active:hsla(0,0%,100%,.95);menu-background:#282c34;column-second-menu-background:#fff;vab-border-radius:2.5px}.sky-tree-border[data-v-35f3592d]{width:100%;height:250px;padding:20px;overflow-y:auto;border:1px solid #dcdfe6;border-radius:2.5px}.transfer-form[data-v-35f3592d]{padding:12px 20px}.custom-step[data-v-35f3592d]{display:flex;justify-content:center;margin:20px 45px}