/*!
 *  build: Vue  Admin Plus
 *  copyright: vue-admin-beautiful.com
 *  time: 2022-12-13 19:05:01
 */[data-v-adac5c72]:export{menu-color:hsla(0,0%,100%,.95);menu-color-active:hsla(0,0%,100%,.95);menu-background:#282c34;column-second-menu-background:#fff;vab-border-radius:2.5px}.vab-card-transition[data-v-adac5c72]{transition:all .3s cubic-bezier(.645,.045,.355,1),border 0s,color .1s,font-size 0s}[data-v-488a5520]:export{menu-color:hsla(0,0%,100%,.95);menu-color-active:hsla(0,0%,100%,.95);menu-background:#282c34;column-second-menu-background:#fff;vab-border-radius:2.5px}.version-information .table[data-v-488a5520]{width:100%;color:#666;border-collapse:collapse;background-color:#fff}.version-information .table td[data-v-488a5520]{position:relative;padding:9px 15px!important;overflow:hidden;font-size:14px;text-overflow:ellipsis;white-space:nowrap;border:1px solid #e6e6e6}.version-information .table td i[data-v-488a5520]{color:var(--el-color-success);vertical-align:-3px;cursor:pointer}.version-information .table td[data-v-488a5520]:nth-child(odd){width:20%;text-align:right;background-color:#f7f7f7}