/*!
 *  build: Vue  Admin Plus
 *  copyright: vue-admin-beautiful.com
 *  time: 2022-12-13 19:05:01
 */[data-v-4dcbc814]:export{menu-color:hsla(0,0%,100%,.95);menu-color-active:hsla(0,0%,100%,.95);menu-background:#282c34;column-second-menu-background:#fff;vab-border-radius:2.5px}.sky-tree-border[data-v-4dcbc814]{width:100%;height:250px;padding:20px;overflow-y:auto;border:1px solid #dcdfe6;border-radius:2.5px}.top-tip[data-v-4dcbc814]{color:#666;font-size:12px;margin-top:10px;display:flex;justify-content:flex-end}.top-tip .tip-unit[data-v-4dcbc814]{color:#ff6700}