/*!
 *  build: Vue  Admin Plus
 *  copyright: vue-admin-beautiful.com
 *  time: 2022-12-13 19:05:01
 */[data-v-adac5c72]:export{menu-color:hsla(0,0%,100%,.95);menu-color-active:hsla(0,0%,100%,.95);menu-background:#282c34;column-second-menu-background:#fff;vab-border-radius:2.5px}.vab-card-transition[data-v-adac5c72]{transition:all .3s cubic-bezier(.645,.045,.355,1),border 0s,color .1s,font-size 0s}[data-v-05c8306d]:export{menu-color:hsla(0,0%,100%,.95);menu-color-active:hsla(0,0%,100%,.95);menu-background:#282c34;column-second-menu-background:#fff;vab-border-radius:2.5px}.icon-panel[data-v-05c8306d]{margin-bottom:20px;text-align:center;cursor:pointer}.icon-panel .el-card__body[data-v-05c8306d]{height:120px}.icon-panel .el-card__body:hover i[data-v-05c8306d]{transform:scale(1.15)}.icon-panel .el-card__body i[data-v-05c8306d]{display:block;width:50px;height:50px;margin:auto;font-size:40px;transition:all .3s ease-in-out}.icon-panel .el-card__body p[data-v-05c8306d]{margin-top:10px;text-align:center}